<h1>Welcome</h1>


  <% @users.each do |user| %>
    <h2><%= link_to user.username, user_page_path(user.username) %></h2>
  <% end %>



<% if current_user %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, 
                         data: { confirm: "Are you sure?" } %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Log In", new_user_session_path %>
<% end %>

